table thead th:last-of-type {
  text-align: center;
}

table tr > td {
  width: 25%;
}

table tr > td:last-of-type {
  text-align: center;
}

select {
  width: 30%;
}

@media screen and (min-width: 992px) {
  .position-lg-absolute {
    position: absolute;
  }

  .row-count-container select {
    width: 25% !important;
    margin-left: 0.5rem;
    z-index: 1;
  }
}

.card {
  min-height: 573px;
  max-height: 573px;
}

.card-footer {
  overflow: scroll;
}
